@import 'variables'

@mixin h1
  background-color: #7a077a
  color: #fffbe7
  text-align: center
  line-height: 5rem
  font-weight: 600
  letter-spacing: 2px
  margin-bottom: 2rem

@mixin nomePokemon
  color: #fffbe7
  font-size: 1.2rem
  font-weight: bold
  background-color: #7a077a
  padding: 0.5rem 0.8rem
  margin: 1rem 0
  border: none
  width: 75%
  border-radius:8px
  text-align: center
  letter-spacing: 4px

@mixin numeroPokemon
  color: #194542
  font-weight: bold
  font-size: 1.4rem
  width: 50%
  align-text:center
  letter-spacing: 4px

@mixin pokemon
  width: 23rem
  // border: 1px solid #1945428a
  border-radius: 10px
  // box-shadow: 5px 5px 15px #1945427e
  background-color: #fffbe7

